<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
</head>
<body>
   <h1>Login</h1>
   <form name='f' action="login" method='POST'>
      <table>
         <tr>
            <td>Usuário:</td>
            <td><input type='text' name='username' value=''></td>
         </tr>
         <tr>
            <td>Senha:</td>
            <td><input type='password' name='password' /></td>
         </tr>
         <tr>
            <td><input name="entrar" type="submit" value="submit" /></td>
         </tr>
      </table>
  </form>
</body>
</html>

